$gray: #F4F6F8;
$gray2: #F9FAFC;
$gray3: #CCCCCC;
$gray4: #9CA2AB;
$gray5: #E8E9EE;
$gray6: #848484;
$gray7: #E9EFF4;
$gray8: #DEE4E9;

$black: #000000;
$green: #04DF79;

$whiteGreen: rgba(4, 224, 121, 0.25);
$white: #FFFFFF;

$darkBlue: #1B4957;
$blue: #19B3FC;

$darkBlue2: #013243;

$red: #FF4E71;
$whiteRed: rgba(255, 78, 113, 0.25);

$purple: #BF55EC; 
$whitePurple: rgba(132, 92, 237, 0.25);